<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="32f4cea0-4d76-4a46-9fb4-bcae104be94c"
            Publisher="CN=Andres"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Cirrious.MvvmCross.Plugins.Controllers.SampleStore</DisplayName>
    <PublisherDisplayName>Andres</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Cirrious.MvvmCross.Plugins.Controllers.SampleStore.App">
        <m2:VisualElements
            DisplayName="Cirrious.MvvmCross.Plugins.Controllers.SampleStore"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="Cirrious.MvvmCross.Plugins.Controllers.SampleStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>